    * {
      margin: 0;
      padding: 0;
    }

    .parallax {
      height: 100vh; /* Full screen height */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .img1 {
      background-image: url("https://pbs.twimg.com/media/GuviqV3W0AAUma7.jpg:large");
    }

    .img2 {
      background-image: url("https://static.zerochan.net/Hysilens.1024.4566703.webp");
    }

    .content {
      height: 100vh;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-family: sans-serif;
    }